<script setup lang="ts">
import { ref } from "vue";
import { RouterView } from "vue-router";
import {
  mdiStarCircle,
  mdiWeatherNight,
  mdiGlassCocktail,
  mdiAccountMultiple,
  mdiBeer,
  mdiFood,
  mdiCart,
  mdiGlassMug,
  mdiTableChair,
} from "@mdi/js";
import { useUserStore } from "../stores/Order";
import { useProductStore } from "../stores/product";
const tab = null;
const text = "asd";
const UserStore = useUserStore();
const useProduct = useProductStore();
let amount = ref(0);
const theme = ref("light");

const items = [
  {
    src: "https://www.whynotdeals.com/wp-content/uploads/2017/03/the-drunken-poet-singapore-johnnie-walker-black-label-promotion-ends-30-apr-2017_why-not-deals-724x1024.jpeg",
  },
  {
    src: "https://s3-ap-southeast-1.amazonaws.com/s3.loopme.my/img/newos/posts/2x/3381_mh6zwXZqTGhb3g7o_.jpg",
  },
];
const links = ["Home", "About Us", "Team", "Services", "Blog", "Contact Us"];
</script>

<template>
  <v-app>
    <v-card
      width="100%"
      height="400px"
      style="
        background-image: url('https://media.timeout.com/images/100519023/image.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      "
    >
    </v-card>
    <v-main>
      <h1
        style="
          font-size: 200px;
          text-align: center;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        "
      >
        MENU
      </h1>
      <v-container style="margin-top: 1cm; padding: 30px">
        <v-row>
          <v-col>
            <v-card class="mx-auto" max-width="600" height="530px">
              <v-img
                class="align-end text-white"
                height="400"
                src="https://th.bing.com/th/id/R.12daeb25010fa7c65b28d24a52fed500?rik=Ss1pM5EJZWWSNg&pid=ImgRaw&r=0"
                cover
              >
              </v-img>
              <v-card-text>
                <p class="text-h4 text--primary">Whiskey</p>
              </v-card-text>
              <v-card-actions>
                <v-btn variant="text" color="orange" to="/whiskey-view">
                  Show More
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
          <v-col>
            <v-card class="mx-auto" max-width="600" height="530px">
              <v-img
                class="align-end text-white"
                height="400"
                src="https://th.bing.com/th/id/R.4552bb78efb243ef184862423d0f5f02?rik=5FtOwZOtQ1dLnw&pid=ImgRaw&r=0"
                cover
              >
              </v-img>
              <v-card-text>
                <p class="text-h4 text--primary">Mixer</p>
              </v-card-text>
              <v-card-actions>
                <v-btn variant="text" color="orange" to="/mixer-view">
                  Show More
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
          <v-col>
            <v-card class="mx-auto" max-width="600" height="530px">
              <v-img
                class="align-end text-white"
                height="400"
                src="https://th.bing.com/th/id/R.45b32a4e4eb1b371046ab2296fac0862?rik=mDVOD3kTqnsktg&pid=ImgRaw&r=0"
                cover
              >
              </v-img>
              <v-card-text>
                <p class="text-h4 text--primary">Snack</p>
              </v-card-text>
              <v-card-actions>
                <v-btn variant="text" color="orange" to="/snacks-view">
                  Show More
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>

      <router-view></router-view>
    </v-main>
  </v-app>
</template>
