<script setup lang="ts">
import { ref } from "vue";
import { RouterView } from "vue-router";
import {
  mdiWeatherSunny,
  mdiWeatherNight,
  mdiFolder,
  mdiAccountMultiple,
  mdiStar,
  mdiPlus,
  mdiCartArrowDown,
  mdiCart,
} from "@mdi/js";
import { useLoginStore } from "@/stores/login";
let items = [
  {
    name: "Johnnie Walker Blue Label (750 ml)",
    image:
      "https://cdn.shopify.com/s/files/1/0066/2791/7914/products/2799.jpg?v=1560159485",
    subtitle: "Whiskey",
    price: "Price: ฿9,505.00",
  },
  {
    name: "Johnnie Walker Green Label (750 ml)",
    image:
      "https://www.comprasparaguai.com.br/media/fotos/modelos/whisky_johnnie_walker_green_label_750ml_114460_550x550.jpg",
    subtitle: "Whiskey",
    price: "Price: ฿2,159.00",
  },
  {
    name: "Johnnie Walker Black Label (750 ml)",
    image:
      "https://cdn.shopify.com/s/files/1/0055/5125/9719/files/8_0b521226-f10a-44ef-99b6-69489417e023.jpg?v=1682549781",
    subtitle: "Whiskey",
    price: "Price: ฿1,300.00",
  },
  {
    name: "Johnnie Walker Red Label (700 ml)",
    image:
      "https://acbbuy.com/wp-content/uploads/2023/03/whisky-johnnie-walker-red-label-x-750-ml6878.png",
    subtitle: "Whiskey",
    price: "Price: ฿679.00",
  },
  {
    name: "Hankey Bannister REGENCY (700 ml)",
    image: "https://img.thewhiskyexchange.com/900/blend_han8.jpg",
    subtitle: "Whiskey",
    price: "Price: ฿845.93",
  },
  {
    name: "Jack Daniel’s No.7 (1000 ml)",
    image: "https://www.เหล้านอก.com/wp-content/uploads/2020/07/Jack-7.jpg",
    subtitle: "Whiskey",
    price: "Price: ฿1,150.00",
  },
];
const cartItems = ref([]);

const addItem = (item) => {
  const existingItem = cartItems.value.find((i) => i.name === item.name);
  if (existingItem) {
    existingItem.amount++;
  } else {
    cartItems.value.push({ ...item, amount: 1 });
  }
};

const JWB = () => {
  addItem({
    name: "Johnnie Walker Blue Label (750 ml)",
    price: 9505.0,
  });
};

const JWG = () => {
  addItem({
    name: "Johnnie Walker Green Label (750 ml)",
    price: 2159.0,
  });
};
const JWBK = () => {
  addItem({
    name: "Johnnie Walker Black Label (750 ml)",
    price: 1300.0,
  });
};
const JWR = () => {
  addItem({
    name: "Johnnie Walker Red Label (700 ml)",
    price: 679.0,
  });
};
const HBR = () => {
  addItem({
    name: "Hankey Bannister REGENCY (700 ml)",
    price: 845.0,
  });
};
const JD = () => {
  addItem({
    name: "Jack Daniel’s No.7 (1000 ml)",
    price: 1150.0,
  });
};
</script>

<template>
  <v-app>
    <v-card
      width="100%"
      height="400px"
      style="
        background-image: url('https://cdn.shopify.com/s/files/1/0499/7660/6874/articles/061022---Get-Familiar-with-Different-Types-of-Whisky.jpg?v=1667363014');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      "
    >
    </v-card>
    <v-main>
      <h1
        style="
          font-size: 200px;
          text-align: center;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        "
      >
        Whiskey
      </h1>
      <v-table style="margin-top: 2cm; padding: 10px">
        <v-row>
          <v-col v-for="(item, index) in items" :key="item.name">
            <v-card
              class="mx-auto"
              width="300"
              height="400px"
              elevation="5"
              shaped
            >
              <v-img
                class="align-end text-white"
                height="200"
                :src="item.image"
              ></v-img>
              <v-card-subtitle class="pt-4">{{
                item.subtitle
              }}</v-card-subtitle>
              <v-card-text>
                <div>{{ item.name }}</div>
                <div></div>
                <br />
                <div style="font-size: 17px">{{ item.price }}</div>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  color="orange"
                  :prepend-icon="mdiCartArrowDown"
                  @click="addItem(item)"
                >
                  ADD
                </v-btn>
              </v-card-actions>
            </v-card>
            <br v-if="(index + 1) % 3 === 0" />
          </v-col>
        </v-row>
      </v-table>
      <v-table width="400px">
        <v-row>
          <v-col>
            <v-list-item v-for="item in cartItems" :key="item.name">
              {{ item.name }}
            </v-list-item>
          </v-col>
          <v-col>
            <v-list-item v-for="item in cartItems" :key="item.amount">
              {{ item.amount }}
            </v-list-item>
          </v-col>
        </v-row>
      </v-table>
      <!-- ... -->
    </v-main>
  </v-app>
</template>
