<script setup lang="ts">
import { ref } from "vue";
import { RouterView } from "vue-router";
</script>

<template>
  <v-parallax src="https://wallpapercave.com/wp/wp2361402.jpg">
    <div
      class="d-flex flex-column fill-height justify-center align-center text-white"
    >
      <h1 class="text-h1 font-weight-thin mb-4">WELCOME</h1>
      <v-btn to="/TableView-view">sffasfas</v-btn>
    </div>
  </v-parallax>
</template>
